{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block title %}
    {{ 'profile.my_services.short_title'|trans }} &mdash; {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="content__title">{{ 'profile.my_services.long_title'|trans }}</h1>
    {% include "@OpenConextProfile/MyServices/service-explanation.html.twig" %}
    {% if specifiedConsentList == null or specifiedConsentList is empty %}
        {% include "@OpenConextProfile/MyServices/service-error.html.twig" %}
    {% else %}
        {% include "@OpenConextProfile/MyServices/ConsentList/consent-list.html.twig" with {
            consentList: specifiedConsentList
        } %}
    {% endif %}
{% endblock %}
