<p>{{ 'profile.my_services.explanation'|trans }}</p>
<ul>
    <li>{{ 'profile.my_services.explanation.explicit_consent'|trans }}</li>
    <li>{{ 'profile.my_services.explanation.implicit_consent'|trans }}</li>
</ul>
