@import '../helpers/variables';

.header {
  background-color: $oceanBlue;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
  max-height: calculateRem(60px);
  padding: calculateRem(11px) 1rem;
  position: relative;
}

.header__profile {
  color: $white;
  font-family: 'Nunito', sans-serif;
  font-size: $f-small;
  font-weight: $bolder;
  left: 146px;
  letter-spacing: .26px;
  margin: 0;
  position: absolute;
  top: 13px;
}
