<h2 class="title__emphasis home__howTitle">{{ 'profile.introduction.purpose.title'|trans }}</h2>

<img class="img__responsive home__imgHow" src="{{ asset(global_view_parameters.profileExplanationImage) }}" alt="" />

<p>{{ 'profile.introduction.purpose.profile_storage'|trans }}</p>
