<div class="card__container">
    {% include "@OpenConextProfile/helpers/card.html.twig" with {
        btnText: 'profile.my_profile.cards.button'|trans,
        description: 'profile.my_profile.cards.data.description'|trans,
        href: path('profile.my_profile_overview'),
        title: 'profile.my_profile.cards.data.title'|trans,
        screenReaderSensitive: true
    } %}
    {% include "@OpenConextProfile/helpers/card.html.twig" with {
        btnText: 'profile.my_profile.cards.button'|trans,
        description: 'profile.my_profile.cards.store.description'|trans,
        href: path('profile.my_surf_conext_overview'),
        title: 'profile.my_profile.cards.store.title'|trans,
        screenReaderSensitive: true
    } %}
    {% include "@OpenConextProfile/helpers/card.html.twig" with {
        btnText: 'profile.my_profile.cards.button'|trans,
        description: 'profile.my_profile.cards.services.description'|trans,
        href: path('profile.my_services_overview'),
        title: 'profile.my_profile.cards.services.title'|trans,
        screenReaderSensitive: true
    } %}
</div>
