{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block title %}
    {{ 'profile.introduction.short_title'|trans }} &mdash; {{ parent() }}
{% endblock %}

{% block contentClasses %}
    content__home
{% endblock %}

{% block content %}
    <h1 class="content__title">{{ 'profile.introduction.long_title'|trans }}</h1>{# todo: adjust translation #}
    {#
        todo: see if following translations are used anywhere, if not delete them:
        - profile.introduction.explanation.title
    #}

    <p>{{ 'profile.introduction.explanation.introduction'|trans }}</p> {# todo: adjust translation #}


    {% include "@OpenConextProfile/Introduction/navigation-cards.html.twig" %}
    {% include "@OpenConextProfile/Introduction/how-it-works.html.twig" %}
{% endblock %}
