@import '../../helpers/breakpoints';
@import '../../helpers/variables';

.content__mySurfConext {
  padding-bottom: calculateRem(80px);
  padding-right: calculateRem(70px);

  @include screen('mobile') {
    padding-right: .5rem;
  }
}

.mySurfConext__section {
  margin: 2.5rem 0;
}

.mySurfConext__downloadExplanation {
  color: $titleBlack;
  display: flex;
  font-size: $f-normal;

  @include screen('mobile') {
    flex-direction: column;
  }
}

.mySurfConext__downloadButtonWrapper {
  flex: 0 0 max-content;
  height: max-content;
  min-width: max-content;
  text-align: center;

  @include screen('mobile') {
    text-align: left;
  }
}

.mySurfConext__downloadButton {
  height: 100%;
  width: 100%;
}

.mySurfConext__downloadText {
  margin-top: 0;
}

.mySurfConext__download {
  margin-bottom: 1rem;
}
