/.vagrant/
/ansible/*.retry
cache.properties
/web/bundles/
/web/app_dev.php
/app/config/parameters.yml
/app/config/global_view_parameters.yml
!/var/cache/
/var/cache/*
!var/cache/.gitkeep
!/var/logs/
/var/logs/*
!var/logs/.gitkeep
!/var/sessions/
/var/sessions/*
!var/sessions/.gitkeep
/var/bootstrap.php.cache
!var/SymfonyRequirements.php
/web/build/
/vendor/
/node_modules/
/composer.phar