{# app/Resources/TwigBundle/views/Exception/error.html.twig #}

{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ 'profile.error.403.title'|trans }}</h1>
    <div>{{ 'profile.error.403.description'|trans }}</div>
{% endblock %}
