{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/app.css') }}" rel='stylesheet' type='text/css' />
{% endblock %}

{% block body %}
    <div class="container">
        {% block header %}
            {% include "@OpenConextProfile/layout/header.html.twig" %}
        {% endblock %}
        <div class="content">
            {% include '@OpenConextProfile/layout/main/navigation.html.twig' %}
            <main id="main" class="main {% block contentClasses %}{% endblock %}">
                {% include '@OpenConextProfile/layout/main/flashMessages.html.twig' %}
                {% block content %}
                {% endblock %}
            </main>
        </div>
        {% block footer %}
                {% include "@OpenConextProfile/layout/footer/footer.html.twig" %}
            {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
