{% set locale_switcher = profile_locale_switcher(app.request.locale, app.request.uri) %}

<span class="locale-switch">
    {{ form_start(locale_switcher) }}
    {{ form_widget(locale_switcher.locale_en) }}
    {{ form_widget(locale_switcher.locale_nl) }}
    {{ form_end(locale_switcher) }}
</span>
