{% set route = app.request.attributes.get('_route') %}
<ul>
    <li>
        <a {% if route == 'profile.profile_overview' %}class="active"{% endif %} href="{{ path('profile.profile_overview') }}">
            My Profile
        </a>
    </li>
    <li>
        <a {% if route == 'profile.services_overview' %}class="active"{% endif %} href="{{ path('profile.services_overview') }}">
            My Services
        </a>
    </li>
    <li>
        <a {% if route == 'profile.exit_overview' %}class="active"{% endif %} href="{{ path('profile.exit_overview') }}">
            Exit
        </a>
    </li>
</ul>
