<div class="inviteRoles__container">
    <section class="inviteRoles__top">
        <div class="inviteRoles__logo">
        </div>
        <section class="inviteRoles__info">
            <p>{{ invite.name }}</p>
            <span class="inviteRoles__info--description">{{ invite.description }}</span>
        </section>
    </section>
</div>
