# These parameters are intended to be rendered into the view according to a specific locale
# A typical example would be showing locale-dependent external URLs
# Strings containing '%' should be escaped by prepending '%'
parameters:
    help_url:
        en: "https://wiki.surfnet.nl/display/conextsupport/Profile+page"
        nl: "https://wiki.surfnet.nl/display/conextsupport/Profile+page"
    terms_of_service_url:
        en: "https://wiki.surfnet.nl/display/conextsupport/Terms+of+Service+%%28EN%%29"
        nl: "https://wiki.surfnet.nl/display/conextsupport/Terms+of+Service+%%28NL%%29"
    platform_url:
        en: "https://www.surfconext.nl"
        nl: "https://www.surfconext.nl"
