parameters:
    secret: ThisTokenIsNotSoSecretChangeIt
    default_locale: en
    open_conext_locale_cookie_key: lang
    open_conext_locale_cookie_domain: .vm.openconext.org
    open_conext_locale_cookie_expires_in: "+2 months"
    open_conext_locale_cookie_http_only: false
    open_conext_locale_cookie_secure: false

    saml_sp_publickey: ../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_publickey.cer
    saml_sp_privatekey: ../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_privatekey.pem
    saml_metadata_publickey: ../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_publickey.cer
    saml_metadata_privatekey: ../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_privatekey.pem

    saml_remote_idp_entity_id: https://engine.vm.openconext.org/authentication/idp/metadata
    saml_remote_idp_sso_url: https://engine.vm.openconext.org/authentication/idp/single-sign-on
    saml_remote_idp_host: engine.vm.openconext.org
    saml_remote_idp_certificate_file: /etc/openconext/engineblock.crt

    engineblock_api_base_url: 'https://engine-api.vm.openconext.org/'
    engineblock_api_username: profile
    engineblock_api_password: secret
    engineblock_api_verify_ssl: true

    attribute_aggregation_api_base_url: 'https://aa.vm.openconext.org/aa/api/internal/accounts/'
    attribute_aggregation_api_username: eb
    attribute_aggregation_api_password: secret
    attribute_aggregation_api_verify_ssl: true

    mailer_transport:  sendmail
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~

    attribute_support_email_from: noreply@domain.invalid
    attribute_support_email_to: help@domain.invalid

    # The email addresses used for sending the information request email message
    information_request_email_from: noreply@domain.invalid
    information_request_email_to: help@domain.invalid