<section class="mySurfConext__section mySurfConext__download">
    <h2 class="title__emphasis">{{ 'profile.my_profile.user_data_download.title'|trans }}</h2>
    <div class="mySurfConext__downloadExplanation">
        <p class="mySurfConext__downloadText">{{ 'profile.my_profile.user_data_download.explanation'|trans }}</p>
        <div class="mySurfConext__downloadButtonWrapper">
            <a href="{{ url('profile.my_surf_conext_user_data_download') }}" class="button mySurfConext__downloadButton">{{ 'profile.my_profile.user_data_download.link_text'|trans }}</a>
        </div>
    </div>
</section>
