{% for attribute in releasedAttributes %}
    {% set translatedAttributeName = ('profile.saml.attributes.' ~ attribute.attributeDefinition.name)|trans({}, 'saml') %}

    <li class="attribute__row attribute__noTooltip">
        <div class="attribute__name">
            {{ attribute.value[0].source }}
        </div>
        <div class="attribute__value">
            {{ translatedAttributeName }}
        </div>
    </li>
{% endfor %}
{# todo: add provided by row #}
