parameters:

  app_env: prod
  app_debug: false
  app_secret: NotSoSecretReplaceMe!

  # Available translation languages: en, nl, pt
  locales: [en, nl]
  default_locale: en
  open_conext_locale_cookie_key: lang
  open_conext_locale_cookie_domain: .dev.openconext.local
  open_conext_locale_cookie_expires_in: "+2 months"
  open_conext_locale_cookie_http_only: false
  open_conext_locale_cookie_secure: true

  saml_sp_publickey: ../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_publickey.cer
  saml_sp_privatekey: ../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_privatekey.pem
  saml_metadata_publickey: ../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_publickey.cer
  saml_metadata_privatekey: ../vendor/surfnet/stepup-saml-bundle/src/Resources/keys/development_privatekey.pem

  saml_remote_idp_entity_id: https://engine.dev.openconext.local/authentication/idp/metadata
  saml_remote_idp_sso_url: https://engine.dev.openconext.local/authentication/idp/single-sign-on
  saml_remote_idp_host: engine.dev.openconext.local
  saml_remote_idp_certificate_file: /config/engine/engineblock.crt

  engineblock_api_base_url: "https://engine-api.dev.openconext.local/"
  engineblock_api_username: profile
  engineblock_api_password: secret
  engineblock_api_verify_ssl: true

  user_lifecycle_enabled: true
  user_lifecycle_api_base_url: "https://userlifecycle.dev.openconext.local/"
  user_lifecycle_api_username: userlifecycle
  user_lifecycle_api_password: secret
  user_lifecycle_api_verify_ssl: true

  attribute_aggregation_api_base_url: "https://aa.dev.openconext.local/internal/"
  attribute_aggregation_api_username: eb
  attribute_aggregation_api_password: secret
  attribute_aggregation_api_verify_ssl: true

  # orcid aa attribute settings for orcid
  attribute_aggregation_orcid_logo_path: "build/images/orcid.png"
  attribute_aggregation_orcid_connect_url: "https://link.surfconext.nl/orcid?redirectUrl=https://profile.surfconext.nl/my-connections"

  # Example: smtp://user:pass@host:port/?timeout=60&encryption=ssl&auth_mode=login&...
  mailer_url: smtp://mailcatcher:25

  attribute_support_email_from: noreply@domain.invalid
  attribute_support_email_to: help@domain.invalid

  # The email addresses used for sending the information request email message
  information_request_email_from: noreply@domain.invalid
  information_request_email_to: help@domain.invalid

  remove_consent_enabled: false

  # Session handler override
  # Change to the following to use the database to store sessions:
  #session_handler: 'Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler'
  session_handler: ~
  # Database settings when using a db to store sessions. Unused in the default setup
  dsn: mysql://profilerw:secret@localhost/profile?serverVersion=5.7

  # which context class ref is used for the saml bundle
  authentication_context_class_ref: ~
