{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block content %}
    <div class="navigation-tabs">
        {% include 'OpenConextProfileBundle::navigation-tabs.html.twig' with {'route' : 'my_services' } %}
    </div>
    <div class="content">
        <h1>My Services</h1>
    </div>
{% endblock %}


