<ul class="footer__navigation">
    <li class="footer__navigationItem">
        {% include "@OpenConextProfile/helpers/external-link.html.twig" with {
            className: 'footer__navigationLink',
            href: global_view_parameters.privacyUrl,
            text: 'profile.navigation.privacy'|trans
        } %} {# todo: change translation & add privacy #}
        &
        {% include "@OpenConextProfile/helpers/external-link.html.twig" with {
            className: 'footer__navigationLink',
            href: global_view_parameters.termsOfServiceUrl,
            text: 'profile.navigation.terms_of_service'|trans
        } %} {# todo: change translation #}
    </li>
    <li class="footer__navigationItem">
        {% include "@OpenConextProfile/helpers/external-link.html.twig" with {
            className: 'footer__navigationLink',
            href: global_view_parameters.helpUrl,
            text: 'profile.navigation.help'|trans
        } %}
    </li>
</ul>
