@import '../helpers/breakpoints';
@import '../helpers/mixins';
@import '../helpers/variables';

// show the tooltip when the input is checked
input[type="checkbox"]:checked.tooltip ~ .tooltip__value {
  display: block;
  padding: 0 1rem 1rem 0;

  @include screen('mobile') {
    margin: 0;
    text-align: left;
    padding: 1rem 1rem 1rem 0;
  }

  > p {
    text-align: left;
  }
}

.tooltip__value {
  display: none;
  text-align: left;
}

.tooltip__value.animated {
  @include start-display-animated;
}

// if user agrees to animations, animate the display showing / hiding
// set max-height for tooltips
input[type="checkbox"]:checked.tooltip ~ .tooltip__value.animated {
  @include transition-display;
  font-weight: $normal;
  max-height: initial;
}

@include ie11Only('input[type="checkbox"]:checked.tooltip ~ .tooltip__value.animated') {
  max-height: 40vh;
}

label.tooltip,
.ie11__label > label.tooltip {
  @include tooltip;

  .expandable {
    display: inline;
  }

  .expanded {
    display: none;
  }
}

label.tooltip {
  cursor: pointer;
}

// set cross for tooltips when opened
input[type="checkbox"]:checked.tooltip ~ label.tooltip,
input[type="checkbox"]:checked.tooltip ~ .ie11__label > label.tooltip {
  @include closeTooltip;

  .expandable {
    display: none;
  }

  .expanded {
    display: inline;
  }
}
