<header class="header">
    <img src="{{ asset('build/images/logo_SURFconext.svg') }}" alt="" width="114px" height="38px">
    <p class="header__profile">Profile</p> {# todo: make into translation #}
</header>
