{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block content %}
    <h1>My Profile</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel nisl pharetra, mattis libero quis, vehicula sem. Proin et lorem id turpis vulputate luctus. Nullam sodales fermentum nulla, eu blandit dui pulvinar eget. Vivamus ac lacus ullamcorper, feugiat purus nec, interdum ante. Mauris velit magna, maximus in laoreet ac, convallis sagittis erat. Vestibulum ac ligula faucibus, tincidunt nisi ut, auctor augue. Aenean et quam magna. Nunc efficitur mollis lorem. Integer tincidunt maximus ex, sit amet aliquet lorem scelerisque et. Vestibulum venenatis nunc turpis, eget ornare quam gravida ac. Nullam convallis vel ligula at rhoncus. Duis dignissim, velit sed lobortis congue, elit turpis accumsan lacus, in aliquam nisi metus ac quam.</p>
    <div class="table-container">
        <table class="overview-table mdl-data-table">
            <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="strong">Organization</td>
                <td>someinvalidurl.invalid</td>
            </tr>
            <tr>
                <td class="strong">Full Name</td>
                <td>John Doe</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


