<div class="card">
    <div class="card__top">
        <h2 class="card__title">{{ title }}</h2>
        <p class="card__description">{{ description }}</p>
    </div>
    <div class="card__bottom">
        <a href="{{ href }}" class="card__button button">{{ btnText }}</a>
    </div>
</div>
