/* General */
html, body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

p,
a,
li,
.overview-table th,
.overview-table td,
.mdl-navigation__link {
    font-size: 15px;
    font-weight: 300;
}

.mdl-layout__content a,
.mdl-layout__header-row .mdl-navigation__link {
    color: #4db3cf;
    text-decoration: underline;
}
.hide-mobile {
    display: none;
}
nav.show-mobile {
    display: block;
}

i.prepended {
    width: 1em;
    margin-right: 0.5em;
}

/* Components */
.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:hover{
    background-color: #4db3cf;
}

.toast {
    padding: 1.5em;
    font-size: 10px;
    color: #4db3cf;
    background-color: #e2e2e2;
}
.toast p {
    margin: 0;
}

.locale-switch {
    display: inline-block;
    cursor: pointer;
}
.locale-switch select, .locale-switch button[type=submit] {
    display: none;
}
.no-js .locale-switch button[type=submit], .no-js .locale-switch select {
    display: block;
}
.no-js .locale-switch select {
    float: left;
    margin-right: 8px;
    margin-top: 8px;
}

.locale-switch button {
    float: left;
    cursor: pointer;
    display: inline;
    border: 0;
    font-size: 12px;
    text-decoration: none;
    background-color: #edf8fb;
    padding: 8px;
    font-weight:200;
    color: #4db3cf;
    vertical-align: baseline;
}
.locale-switch button[data-locale]:first-of-type {
    border-radius: 4px 0 0 4px;
}
.locale-switch button[data-locale]:last-of-type {
    border-radius: 0 4px 4px 0;
}
.locale-switch .active,
.locale-switch button:hover,
.locale-switch button:focus {
    color: #ffffff;
    background-color: #4db3cf;
}

/* Header */
.mdl-layout__header {
    display: block;
    border-bottom: 2px solid #4db3cf;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
}
.mdl-layout__header-row {
    padding-left: 32px;
}
.mdl-layout__header-row, .mdl-layout__header {
    height: 64px;
}

.mdl-layout__header .fa {
    margin-left: 8px;
    font-size: 24px;
    vertical-align: sub;
}
.mdl-layout-title {
    color: #a2a2a2;
    font-size: 15px;
    font-weight: 300;
}

.mdl-layout__header .locale-switch,
.mdl-layout__header .mdl-navigation__link {
    padding-top: 16px;
    float: left;
}

.mdl-layout__header .mdl-navigation__link {
    display: inline-block;
    padding: 0 8px;
}

/* Content container */
.mdl-layout__content .content-container {
    border-radius: 4px;
    margin-bottom: 32px;
}
.mdl-layout__content .content-container ul {
    margin-bottom: 24px;
}

/* Content container navigation tabs */
.mdl-layout__content .navigation-tabs ul {
    border-bottom: 1px solid #e6e6e6;
    list-style: none;
    padding: 0 0;
    margin: 0;
}
.mdl-layout__content .navigation-tabs a {
    text-decoration: none;
    color: #a2a2a2;
    border-bottom: 1px solid #e6e6e6;
    padding: 16px 32px;
    margin-bottom: -1px;
    font-weight: 300;
    display: block;
}
.mdl-layout__content .navigation-tabs a:hover,
.mdl-layout__content .navigation-tabs .active {
    color: #4db3cf;
}

/* Content container content */
.mdl-layout__content .content-container .content {
    padding: 0 32px 32px 32px;
}
.mdl-layout__content .content-container .table-overflow-container {
    overflow: auto;
    margin-bottom: 15px;
}
.mdl-layout__content .content-container .overview-table {
    min-width: 100%;
}
.mdl-layout__content .content-container .overview-table td,
.mdl-layout__content .content-container .overview-table th {
    text-align: left;
    padding: 16px 12px;
}
.mdl-layout__content .content-container .overview-table td table p.attribute-value {
    margin: 0;
}
.mdl-layout__content .content-container .overview-table th:first-child {
    min-width: 200px;
}
.mdl-layout__content .content-container .overview-table th {
    font-weight: 300;
    color: #a2a2a2;
}

.mdl-layout__content .content-container .overview-table p.aa-description {
    margin: 1em 0;
}

.mdl-layout__content .content-container img {
    max-width: 100%;
    display: block;
    margin: 48px auto;
}

.mdl-layout__content .content-container h1 {
    font-size: 24px;
}
.mdl-layout__content .content-container h2 {
    font-size: 18px;
    line-height: 1.35;
}

/* My Profile */
.profile-metadata {
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 300;
}
.profile-metadata td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    vertical-align: top;
}
.account-data {
    margin-bottom: 16px;
}
.account-data td,
.account-data th {
    text-align: left;
    font-size: 15px;
}
.account-data td {
    font-weight: 300;
}

/* My Services */
tr.service:hover {
    background: none !important;
}
.service-name {
    width: 100%;
    color: #4db3cf;
    display: block;
}
.no-js .service-details-state-toggle {
    cursor: default;
}
.service-details-state-toggle {
    cursor: pointer;
}
.no-js [data-service-details-state="initial"] .caret:before,
[data-service-details-state="open"] .caret:before {
    /* Caret down */
    content: "\f107";
}
[data-service-details-state="initial"] .caret:before,
[data-service-details-state="closed"] .caret:before {
    /* Caret right */
    content: "\f105";
}
.no-js [data-service-details-state="initial"] .service-details {
    display: block;
}

[data-service-details-state="initial"] .service-details,
[data-service-details-state="closed"] .service-details {
    display: none;
}

.service-info tr {
    background-color: #ffffff !important;
    height: auto !important;
}
.service-info td {
    border: none;
    height: auto !important;
    padding: 4px !important;
}
.service-info tr td:first-child {
    padding-left: 0 !important;
}

.service-details {
    padding: 14px;
}

.service-attributes {
    margin-top: 32px;
}

.service-attributes table,
.service-attributes table thead tr:hover {
    background-color: #f3f3f3;
    border: none;
}
.service-attributes table td,
.service-attributes table th {
    font-size: 14px;
}
.service-attributes table td {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.attribute-container .mdl-grid {
    padding: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.attribute-container .mdl-grid .mdl-cell {
    padding: 1em 0 0 0;
}

.attribute-container .mdl-grid .mdl-layout-title {
    text-transform: uppercase;
}.attribute-container .mdl-grid p.connected {
    color: #00c35a;
}

.attribute-container .mdl-grid .mdl-cell img.logo {
    border: 1px solid #cccccc;
    background: #ffffff;
    float: left;
    margin: 0;
    width: auto;
    display: inline-block;
}

.attribute-container .mdl-grid .mdl-cell p.orcid {
    vertical-align: top;
}

.attribute-container .mdl-grid .mdl-cell p.orcid a{
    text-decoration: none;
}

.attribute-container .mdl-grid .mdl-cell p.orcid img {
    float: left;
    height: 16px;
    margin: 4px 4px 0 0;
    width: 16px;
}

.attribute-container .mdl-grid .mdl-cell a.mdl-button {
    box-sizing: border-box;
    display: block;
    max-width: 260px;
    margin-top: 20px;
    padding-left: 40px;
    text-align: right;
    text-decoration: none;
}

.attribute-container .mdl-grid .mdl-cell button.mdl-button.disconnect {
    background-color: #a9a9a9;
    color: #ffffff;
}

.attribute-container .mdl-grid .mdl-cell .mdl-button.orcid {
    background: white url('../images/orcid_small.png') 12px 6px no-repeat;
    color: darkgrey;
    text-transform: initial;
}

.confirmation-container {
    display: none;
}

.confirmation-container div {
    clear: both;
}

.confirmation-container input.confirmation {
    float: left;
}
.confirmation-container label.confirmation-label {
    margin-left: 5px;
    font-weight: 500;
}
.confirmation-container button.mdl-button {
    margin-top: 10px;
}

a.download {
    position: relative;
    padding-left: 20px;
}
a.download:before {
    /* download icon */
    content: "\f019";
    font-family: "FontAwesome";
    position:absolute;
    top:0;
    left:0;
}

/* Footer */
.footer {
    border-top: 1px solid #cccccc;
}
.mdl-layout .footer .footer-left,
.mdl-layout .footer .footer-mid,
.mdl-layout .footer .footer-right {
    text-align: center;
    margin-bottom: 0;
}
.footer .footer-navigation {
    list-style: none;
    padding: 0;
}
.footer .footer-navigation li {
    display: inline-block;
    margin-left: 8px;
}

/* Adaptive fixes*/
@media (min-width: 840px) {
    nav.hide-mobile {
        display: block;
    }
    nav.show-mobile {
        display: none;
    }

    .mdl-layout__content .content-container {
        /* Add margin for consistency */
        margin-top: 36px;
    }

    /* Footer */
    .mdl-layout .footer .footer-left {
        text-align: left;
    }
    .mdl-layout .footer .footer-mid {
        text-align: center;
    }
    .mdl-layout .footer .footer-right {
        text-align: right;
    }

    .footer-navigation {
        margin: 0;
    }

    .footer .footer-navigation li {
        display: inline-block;
        margin-left: 8px;
    }

}
@media (min-width: 960px) {
    /* Content container navigation tabs */
    .mdl-layout__content .navigation-tabs ul {
        border-bottom: 1px solid #e6e6e6;
        list-style: none;
        padding: 0 16px;
        margin: 0;
    }
    .mdl-layout__content .navigation-tabs ul li{
        display: inline-block;
        margin: 0 16px;
        border: 0;
    }
    .mdl-layout__content .navigation-tabs a {
        padding: 24px 0;
        display: block;
        margin-bottom: -1px;
        border-bottom: 1px solid #e6e6e6;
    }
    .mdl-layout__content .navigation-tabs a:hover,
    .mdl-layout__content .navigation-tabs .active {
        border-bottom: 1px solid #4db3cf;
    }

    /* Content container */
    .mdl-layout__content .content-container .introduction-explanation-image {
        max-width: 704px;
    }
}

@media (max-width: 400px) {

    /* orcid button */
    .mdl-button.orcid {
        font-size: 9px;
    }
}
