<h3 class="title__information">{{ 'profile.my_services.service_information.title'|trans }}</h3>
{% if specifiedConsent.releasedAttributes is empty %}
    <p>{{ 'profile.my_services.no_attribute_released'|trans }}</p>
{% else %}
    {% for sourceName, releasedAttributes in specifiedConsent.releasedAttributesGroupedBySource  %}
        <ul class="attributeList">
            {% if sourceName == 'idp' %}
                {% include '@OpenConextProfile/MyServices/AttributeList/idp.html.twig' %}
            {% else %}
                {% include '@OpenConextProfile/MyServices/AttributeList/aa.html.twig' %}
            {% endif %}
        </ul>
    {% endfor %}
{% endif %}

