<h3 class="title__information">{{ 'profile.my_services.service_information.title'|trans }}</h3>
{% if specifiedConsent.releasedAttributes is empty %}
    <p>{{ 'profile.my_services.no_attribute_released'|trans }}</p>
{% else %}
    {% for sourceName, releasedAttributes in specifiedConsent.getIdPAttributes  %}
        <ul class="attributeList">
            {% include '@OpenConextProfile/MyServices/AttributeList/idp.html.twig' %}
        </ul>
    {% endfor %}
{% endif %}

{% if specifiedConsent.getAttributeAggregatedAttributes is not empty %}

    <p>{{ 'profile.my_services.service_information.aa_text'|trans }}</p>

    <ul class="attributeList">
    {% for sourceName, releasedAttributes in specifiedConsent.getAttributeAggregatedAttributes  %}
        {% include '@OpenConextProfile/MyServices/AttributeList/aa.html.twig' %}
    {% endfor %}
    <li class="aaRow">
        {% set singular = 'profile.table.explanation.singular'|trans %}
        {% set plural = 'profile.table.explanation.plural'|trans %}
        {% set singularOrPlural = specifiedConsent.getAttributeAggregatedAttributes|length > 1 ? plural : singular %}
        <p>{{ 'profile.table.explanation.text'|trans({'%singularOrPlural%': singularOrPlural }) }}</p>
    </li>
    </ul>
{% endif %}
