.connection__logo {
  max-height: calculateRem(150px);
  max-width: 100%;
  width: auto;
}

.connection__buttonWrapper {
  margin-top: 2rem;
}

.connection__deleteForm {
  margin-left: 1.5rem;
  width: calc((100% - 1.5rem) / 2);
}
