includes:
    - ./phpstan-baseline.neon
    - ../../vendor/phpstan/phpstan-symfony/extension.neon
    - ../../vendor/phpstan/phpstan-deprecation-rules/rules.neon
rules:
#    - Surfnet\NoDebugFunctionRule
#    - Surfnet\InvokableControllerRule
#    - Surfnet\UntypedIdParamRule
#    - Surfnet\NoNullOrArrayReturnRule
parameters:
    checkUninitializedProperties: true
    level: 5
    paths:
        - ../../src
        - ../../config
    excludePaths:
        - ../../src/OpenConext/AttributeAggregationApiClientBundle/Tests
        - ../../src/OpenConext/EngineBlockApiClient/Tests
        - ../../src/OpenConext/Profile/Tests
        - ../../src/OpenConext/ProfileBundle/Tests
        - ../../src/OpenConext/UserLifecycleApiClientBundle/Tests
