parameters:
	ignoreErrors:
		-
			message: """
				#^Call to deprecated method create\\(\\) of class OpenConext\\\\ProfileBundle\\\\Attribute\\\\AttributeSetWithFallbacks\\:
				Will be replaced with different creation implementation$#
			"""
			count: 1
			path: ../../src/OpenConext/EngineBlockApiClientBundle/Service/AttributeReleasePolicyService.php

		-
			message: """
				#^Call to deprecated method create\\(\\) of class Surfnet\\\\SamlBundle\\\\SAML2\\\\Attribute\\\\AttributeSet\\:
				Will be replaced with different creation implementation$#
			"""
			count: 2
			path: ../../src/OpenConext/Profile/Entity/AuthenticatedUser.php

		-
			message: "#^Call to an undefined method Traversable\\<mixed, mixed\\>\\:\\:getArrayCopy\\(\\)\\.$#"
			count: 1
			path: ../../src/OpenConext/ProfileBundle/Attribute/AttributeFilter.php

		-
			message: """
				#^Call to deprecated method create\\(\\) of class Surfnet\\\\SamlBundle\\\\SAML2\\\\Attribute\\\\AttributeSet\\:
				Will be replaced with different creation implementation$#
			"""
			count: 1
			path: ../../src/OpenConext/ProfileBundle/Attribute/AttributeFilter.php

		-
			message: "#^Call to an undefined method OpenConext\\\\Profile\\\\Api\\\\ApiUserInterface\\:\\:withSupportContactEmail\\(\\)\\.$#"
			count: 1
			path: ../../src/OpenConext/ProfileBundle/Service/UserService.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\:\\:getAuthenticatingAuthorities\\(\\)\\.$#"
			count: 1
			path: ../../src/OpenConext/ProfileBundle/Service/UserService.php
