{% extends '@OpenConextProfile/base_error.html.twig' %}

{% block content %}
    <h1 class="content__title">{{ 'profile.error.403.title'|trans }}</h1>
    <p>{{ 'profile.error.403.description'|trans }}</p>
    {% include '@Twig/Exception/button-back.html.twig' %}
{% endblock %}
