{% extends '@OpenConextProfile/base_error.html.twig' %}

{% block content %}
    <h1 class="content__title">{{ 'profile.error.404.title'|trans }}</h1>
    <div>{{ 'profile.error.404.description'|trans }}</div>
{% endblock %}
