<section class="myProfile__section">
    <h2 class="title__emphasis">{{ 'profile.my_connections.missing_connections'|trans }}</h2>
    <p class="connection__buttonWrapper"><a class="button" href="mailto:{{ mailTo }}">{{ 'profile.my_connections.send_request'|trans }}</a></p>
</section>
