{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block title %}
    {{ 'profile.my_connections.short_title'|trans }} &mdash; {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="content__title">{{ 'profile.my_connections.long_title'|trans }}</h1>
    <p>{{ 'profile.my_connections.explanation'|trans }}</p>

    {% include '@OpenConextProfile/MyConnections/active-connections.html.twig' %}
    {% include '@OpenConextProfile/MyConnections/available-connections.html.twig' %}
    {% include '@OpenConextProfile/MyConnections/missing-connections.html.twig' %}
{% endblock %}
