@import '../../helpers/variables';

.connection__list {
  list-style: none;
  margin-top: 2.5rem;
  padding: 0;
}

.connection__listItem {
  &:last-of-type {
    .service__details {
      border-bottom: none;
    }
  }
}

.connection__details {
  border-top: 1px solid $idpSeparatorGray;
  border-bottom: 1px solid $idpSeparatorGray;
  padding: 1rem 3rem;

  &:hover {
    .connection__title {
      text-decoration: underline;
    }
  }
}

.connection__name {
  display: flex;
  justify-content: space-between;
}

.connection__title {
  margin-top: 0;
}

.connection__statusArrow {
  fill: $buttonBlue;
  height: 100%;
  transform: rotate(-180deg);
}

.connection__details[open] {
  background-color: $gray;
  border-top: 2px solid $oceanBlue;

  .connection__statusArrow {
    fill: $arrowGray;
    transform: none;
  }
}

.connection__logo {
  max-height: calculateRem(150px);
  max-width: 100%;
  width: auto;
}

.connection__buttonWrapper {
  margin-top: 2rem;
}
